*.gif
*.png
*.pyc
*.hdf5
*.jpg
*.pckl

.sw[op]
.py[cx]
.ruff_cache
.mypy_cache
__pycache__
.ipynb_checkpoints/
**/.DS_Store
**/*.egg-info

outputs
build
wandb
!metanca_training/configs/wandb

local_rule_checkpoints/
.worktrees/

.env
